@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row d-flex justify-content-center">
    <div class="col">
        <h2>Welcome to the Pokemon Team Planner!</h2>
        <h4>Head over to the Teams tab to create your teams!</h4>
    </div>
</div>